# dict1 = 
{ 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
#1)access "Mike"

dict1 = { 
   "april_batch":
    { "student":{"name":"Mike",  
                 
     "marks":{ "python":80,"maths":70}}   }

}
dict1["april_batch"]['student']['name']

'Mike'

In [3]:
#2)access 80

dict1["april_batch"]['student']['marks']['python']

80

In [4]:
#3)change "Mike" to "Your name"
dict1["april_batch"]['student']['name']="sharath"
print('sharath')
print(dict1)

sharath
{'april_batch': {'student': {'name': 'sharath', 'marks': {'python': 80, 'maths': 70}}}}

In [8]:
#4)add ML = 80 and DL = 80 inside marks

dict1['april_batch']['student']['marks']['DL']="80"
dict1['april_batch']['student']['marks']["ML"]="80"
print(dict1)

{'april_batch': {'student': {'name': 'sharath', 'marks': {'python': 80, 'maths': 70, 'DL': '80', 'ML': '80'}}}}